.carousel {
  color: red; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background: Helvetica, sans-serif; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background: Helvetica, sans-serif; }
